# ================================
# Laravel & PHP
# ================================
/vendor/
/node_modules/
.env
.env.backup
.env.production
.phpunit.result.cache
/.phpunit.cache

# ================================
# Public & Storage
# ================================
/public/build
/public/hot
/public/storage
/public/assets
/storage/*.key

# ================================
# IDE & Editor
# ================================
/.fleet
/.idea
/.vscode

# ================================
# System files
# ================================
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
*.txt

# ================================
# Extra large folders (optional)
# ================================
# Node modules duplicate
node_modules
